.authWrapper {
   height: 100vh;
   display: flex;
   .authLeft,
   .authRight {
      width: 50%;
      height: 100%;
   }
   .authRight {
      background-color: var(--background-color-client);
   }
   .authLeft {
      display: flex;
      background-color: var(--background-color);
   }
}
