.forgotPasswordWrapper {
   width: 100%;
   min-height: 600px;
   display: flex;
   .formEmail {
      padding: 20px;
      margin: auto;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      min-width: 30vw;
      .formGroup {
         background-color: #fff;
         .groupField {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin-bottom: 24px;
            .inputDescription {
               max-width: 100%;
               min-width: 100%;
               min-height: 100px;
               max-height: 200px;
               padding: 20px;
               font-size: 1.8rem;
               outline: none;
               border: 0.5px solid #e2e2e2;
               border-radius: 4px;
               &::placeholder {
                  color: var(--background-color-sidebar);
               }
               color: #1e1d1d;
            }
            input {
               font-size: 1.6rem;
               font-weight: 400;
               flex: 1;
               color: #1e1d1d;
               border: 0.5px solid #e2e2e2;
               border-radius: 4px;
               padding: 30px 18px 10px 20px;
               &::placeholder {
                  opacity: 0;
               }
               &:not(:placeholder-shown) ~ label {
                  top: 4px;
                  font-size: 13px;
               }

               &:focus ~ label {
                  font-weight: 600;
                  color: var(--primary);
                  top: 4px;
                  font-size: 13px;
               }
            }
            .unit {
               position: absolute;
               right: 20px;
               color: var(--text-color);
            }
            label {
               position: absolute;
               top: 20px;
               left: 20px;
               color: #666;
               font-size: 16px;
               transition: font-size 0.2s;
               transition-property: all;
               > span {
                  color: red;
               }
            }
            .errMess {
               font-size: 1.4rem;
               position: absolute;
               top: 100%;
               left: 20px;
               color: orangered;
            }
         }
      }
      .btnSubmit {
         float: right;
         font-size: 1.6rem;
         padding: 10px;
         color: #ffffff;
         font-weight: 500;
         border-radius: 4px;
         background-color: var(--primary);
      }
   }
}
